body {
  margin: 0;
  line-height: 1.7;
}

ol, ul {
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*end of reset css*/

.deco {
  margin: 16px 0;
}

#at_jinji_img {
  display: block;
}
#breadcrumb_navigation {
  font-size: 12px;
  line-height: 1;
  margin: 15px 30px;
}

#breadcrumb_navigation > a {
  text-decoration: none;
  color: #004795;
}

#breadcrumb_navigation > a:hover {
  text-decoration: underline;
}

#breadcrumb_navigation > a:visited {
  text-decoration: none;
  color:  #004795;
}

#main_container > h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 5px 0;
}

#at_jinji_flex {
  display: flex;
  align-items: center;
}

#jinji_left {
  margin-right: 30px
}

#kyoso_img {
  margin: 60px 0;
}

#about_ii-deais {
  background-image: url("../images/main_bg.jpg");
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

#foreword > p {
  margin: 50px 0;
  margin
}

#foreword > img {
  margin: 77px auto;
  margin-bottom: 69px;
  display: block;
}

#blue_emp {
  color: var(--blue_color);
  font-size: 20px;
  line-height: 35px;
}

#foreword_contents {
  margin: 65px 0;
}

#foreword_contents > p {
  margin: 40px 0;
}


#main_container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  --blue_color: #004795;
}

#ii-deais_description {
  font-size: 12px;
  margin: 0;
  padding: 10px 30px;
  border-bottom: 1px solid #e3e3e3;
}

#nav_bar {
  display: flex;
  height: 85px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 3px #e3e3e3;
  justify-content: space-between;
}

#nav_bar__logo {
  margin: 0 30px;
}

#nav_links {
  display: flex;
  margin-right: 30px;
  font-size: 12px;
  list-style: none;
}

#nav_links > li {
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-left: solid 1px #e3e3e3; 
}

#nav_links > li:last-of-type {
  border-right: solid 1px #e3e3e3;
}

.strong_pink {
  color: #e5004e;
  font-style:normal;
  font-weight:normal;
}

#joho_knowledge_img {
  margin: 60px 0;
}

/* flex container */
#teikyo_kachi_flex_container {
  display: flex;
}

#teikyo_kachi_flex_container > li > h3 {
  font-weight: normal;
  color: var(--blue_color); 
}

/*todo DRY grid */

.service_container{
  text-align: left;
  margin: 60px 0;
}

.service_container--at_jinji {
  --main_color : #29b6b4;
}

.service_container--saiyo_consulting {
  --main_color: #004795; 

}

.service_container--jinji_muke {
  --main_color: #e5004e;
}

.service_container > a {
  color: var(--main_color);
  text-decoration: none;
}

.service_container > h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  padding: 14px 0;
  margin:5px 0;
  border-bottom: solid 1px var(--main_color);
}

.service_container__desc {
  color: var(--main_color);
  font-size: 20px;
  margin: 23px 0;
}

.grid_container_outer--at_jinji {
  border: solid 1px #29b6b4;
  margin: 20px 0;
}

.grid_container_outer--saiyo_consulting {
  border: solid 1px #004795;
  margin: 20px 0;
  height: 530px;
}

.service_container__grid_container {
  display:grid;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 30px 0;
  --inner_border_color: #d6d6d6;
}

.service_container__grid_container li > h4 {
  font-size: 16px;
  margin: 15px 0;
}
.service_container__grid_container--at_jinji {
  height: 360px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.service_container__grid_container--at_jinji > li:not(:last-of-type) {
  border-right: solid 1px var(--inner_border_color);
}

.service_container__grid_container--saiyo_consulting {
  height: 470px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/* saiyo consulting inner borders*/
.service_container__grid_container--saiyo_consulting > li:nth-of-type(1) {
  border-bottom: solid 1px var(--inner_border_color);
}
.service_container__grid_container--saiyo_consulting > li:nth-of-type(2) {
  border-left: solid 1px var(--inner_border_color);
  border-bottom: solid 1px var(--inner_border_color);
  border-right: solid 1px var(--inner_border_color);
}
.service_container__grid_container--saiyo_consulting > li:nth-of-type(3) {
  border-bottom: solid 1px var(--inner_border_color);
}
.service_container__grid_container--saiyo_consulting > li:nth-of-type(5) {
  border-left: solid 1px var(--inner_border_color);
  border-right: solid 1px var(--inner_border_color);
}

.service_container__grid_container--saiyo_consulting > li:nth-child(n+4):nth-child(-n+6) {
  padding-top: 30px
}

.service_container__grid_container > li {
  text-align: center;
  padding: 0 30px;
  margin: ;
}

.service_container__grid_container > p {
  text-align: left;
}

.service_container__grid_container > li > h4 {
  color: var(--main_color);
}

.footer_nav_links {
  display: grid;
  margin: 80px;
  height: 240px;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 960px;
  align-items: center;
  gap: 1px;
}

.footer_nav_links__link {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/box_arrow01.png"), var(--bg_image);
  background-position:bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
}

.footer_nav_links__link--about {
  --bg_image: url("../images/about_img.jpg");
}

.footer_nav_links__link--solutions {
  --bg_image: url("../images/solutions_img.jpg");
}

.footer_nav_links__link--ranking {
  --bg-image: url("../images/ranking_img.jpg");
  background-color: #004795;
}

#page_footer {
  background-color: #004795;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}

#page_footer > a {
  text-decoration: none;
  color: #fff;
}

#page_footer > a:hover {
  text-decoration: underline;
}

#copyrignt {
  padding: 15px 0;
  border-top: solid 1px #154880;
}

.toiawase {
  display: flex;
  background-color: #c9edec;
  height: 210px;
  justify-content: center;
  align-content: center;
}

.toiawase_inner {
  width: 960px;
  margin: 40px 0;
}
